# /project-root/.env
# GitLab API configuration for issue automation script
GITLAB_BASE_URL=
GITLAB_PROJECT_PATH=

# Insert your GitLab Personal Access Token here
GITLAB_TOKEN=

# Backend connection 
PORT=

# Supabase via backend (admin access)
SUPABASE_URL=
SUPABASE_SERVICE_KEY=

# Supabase backend and frontend key
SUPABASE_PUBLISHABLE_DEFAULT_KEY=

# Auth (maybe not needed?)
JWT_SECRET=


# Supabse connection via frontend (../frontend/.env)
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
