# GitLab API configuration for issue automation script
GITLAB_BASE_URL=https://csgit.ucalgary.ca
GITLAB_PROJECT_PATH=chantal.delcarmen/seng513-202601-pg7

# Insert your GitLab Personal Access Token here
GITLAB_TOKEN=